:local(.imageStyle) {
  width: 13.75vw;
  height: 13.75vw;
  object-fit: scale-down;
  border-right: var(--border-width) solid var(--blue);
}

:local(.textStyle) {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  font-size: 3vw;
  margin-right: 2.5vw;
  margin-bottom: 1.5vw;
}

:local(.containerStyle) {
  justify-content: space-between;
  border: var(--border-width) solid var(--blue);
}
